{% extends '../base/base.html'%} 
<!-- extends file include the header and footer -->

{% block content %}
<!-- and we will write our logic in this block  -->

<div class="row">
    <!-- left sidebar -->

    <!-- LOAD LEFT SIDE BAR -->
    {% include './leftsidebar.html' %}
   
     <!-- right sidebar  -->

     <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card  border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        <h3 class="text-dark">All Categories</h3> 
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-tittle text-center">{{ category_counts }}</h5>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card  border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        <h3 class="text-dark">All Posts</h3> 
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-tittle text-center">{{ blogs_counts }}</h5>
                    </div>
                </div>
            </div>
        </div>
     </div>

    
</div>

{% endblock %}